.content_alarm {
    margin-bottom: 20px;
    padding: 17px;
    border: 1px solid #6cac88;
    background-color: #94ecba;
    border-radius: 5px;
}

.star_content {
    height: 100%;
    color: #e25317;
}